# ~/.inputrc
# ----------------------------------------------------------------------
# AUTHOR: Nathaniel Hellabyte
# https://github.com/hellabyte/myconfig
# ---------------------------------------------------------------
# NOTE: Lines starting with $ indicate conditions.
#
# \C- \M- \e : Control Meta Escape ## Full words work too.
# \e = Option/Escape/Alternate
# ======================================================================
#"\et": "&& echo 'true' || echo 'false'"
#"\eo": "> /dev/null"
#"\el": "| less"
#"\em": "man "
"\es": "\C-e &> /dev/null &"
# Changes default history maneuvering with arrow keys.
#   [A  up 
#   [B  down 
#   [5~ page up
#   [6~ page down 
"\e[A":  history-search-backward   
"\e[B":  history-search-forward
"\C-p":  history-search-backward   
"\C-n":  history-search-forward
"\e[5~": previous-history
"\e[6~": next-history
# "\es": forward-search-history
#
"\C-x\C-l": complete
"\C-x\C-N": menu-complete 
"\C-x\C-P": menu-complete-backward

"\C-h": backward-delete-char

#"\ec": "cd 		"
	
# Set to audible to announce to the World how much you suck.
set bell-style visible

# No case for li3f
set completion-ignore-case on

## My Favorites:
# These can all be listed with $ bind -p
# \C-x\C-e: edit-and-execute-command
# \e\C-e:   shell-expand-line   
#   \e-d:   kill-word
# \C\e-h:   backward-kill-word
# \C-x!:    possible-command-completions
# \C-x/:    possible-filename-completions
# \C-x@:    possible-hostname-completions
# \C-x~:    possible-username-completions
# \C-x$:    possible-variable-completions
# \C-x\C-r: re-read-init-file
# \C-x\C-u: undo (also \C-_)
